- content_for :page_title, "FAQ"
- content_for :headline, "Frequently Asked Questions"
- content_for :info_panel, render("info_panels/faq")

%p.note FAQ answers are below – lots and lots of information.  There are also helpful FAQs on each page as you work on building your book.

%h3 What does the book look like ?

%p That depends on which binding you choose. We have four options: a white plasticoil 6X9" book (ideal for kitchen use), a 6X9" metal wire binding, a 7X10" softcover book and a 7X10" hardcover (great for family keepsakes). We use the highest grade of paper available: All books are printed on really beautiful 100 lb silk surface paper (coffee table quality).

%h3 Spellchecker

%p The program doesn’t have its own spellchecker, but if you add the Google© Toolbar to your computer – there is a spell checker on it that works with the cookbook site. You can add the Google toolbar from Google’s homepage. It’s easy to use and works really well. You will also find that if you use Firefox as your browser instead of Internet Explorer, it has an automatic spellchecker. To use Firefox, which is free, you need to load it onto your computer by going to firefox.com.

%h3 Cooking measurements

%p You will find them under the How It Works page /Helpful Resources. If you would like to use them in your book just copy and paste them onto an “Extra Page”.

%h3 Maximum number of pages per book

%p The maximum number of pages depends on which binding your choose in the first tab. Plasticoil, hardcover and softcover bindings all have a 400 page maximum.  Wirebound books with a soft wrap around cover have a 150 page max. A page is one side of a piece of paper.

%h3 Black and White or color

%p You can add photos in black and white or color. The program defaults to color for all photos. Be careful, a black and white photo will read as a color photo unless you check the black-and-white box.

%h3 Font

%p The font is Baskerville.

%h3 Whose name is on the recipe

%p The name of the person who types in the recipe shows on the page that lists all of the recipes in the book ("recipe" tab).  This name does not appear in the printed version of the book.  When entering a recipe, there is a “contributed to” box where credit can be given to someone else for a recipe. That is the name that is printed on the recipe page. Remember, you can always check the "preview" tab to see exactly what will print. 

%h3 What if the preview will not load ?

%ol
  %li 
    You may not have Abode Acrobat on your computer. This is a free program that is loaded on most all computers when they are delivered, but if you don’t have it you can download it at 
    = link_to "www.adobe.com/products/acrobat/readstep2.html", "http://www.adobe.com/products/acrobat/readstep2.html"
  %li Sometimes a few people can’t open the Preview when they are using Firefox on a PC. So if you find that you can’t view the Preview with Firefox, try using Internet Explorer, which always works.

%h3 Designing your own cover and dividers

%p 
  To load your cover go to the Design tab, and select cover #8. This design allows you to upload a jpg file onto the cover. You will need to combine the picture and text in the same file using a photo-editing program. (there are several great free ones online, just google search “free online photo editing”). Some members have enjoyed using 
  = link_to "www.ipiccy.com", "http://www.ipiccy.com"

%p This option for a cover also lets you create a custom title page (that is the first page you see when you open your book). As well, when designing your dividers, remember that the designed jpg you are creating will replace any section name and you may therefore want to incorporate the section name into the design of that image. If you don’t create a custom divider, the name of the section will appear.

%p To add pictures to your dividers, click on the little edit symbol that looks like a pen – to the right of the name of the section (in the recipe list).

%p You must make sure that your cover, title page and divider files are 300 to 600 dots per inch, dpi, or the words in your image could be fuzzy. If an image is being enlarged, it needs to be at an even higher resolution.

%p If your file does not have a high enough resolution you will need to go back and re-save it at a higher resolution.

%p
  %strong 
    To check to see whether your images and lettering are going to print well please open the preview function, increase the file size to 100% to 125% (you can find this at the top/center of your Preview file when you open it) and check to see if the images are still clear.
    %br
    For more on images see "Pictures" below.

%h3 Putting more than one picture on a page

%p You can only put one picture file on a page, so if you want to put several pictures together you must scan the pictures as a group to make one file or lay them out together in a photo editing program.

%h3 Recipe order

%p 
  Some Notes About Recipe Layout:
  %br
  We have a somewhat sophisticated (but we think pretty good) layout engine. It takes your recipes and orders them in such a way that it maximizes the page space. So you don’t needlessly pay for extra blank pages. Here is how it works:

%p As you know, your final recipe book will be organized by sections (like chapters).  You can drag and drop these sections so they appear in the order you prefer. This happens in the main recipe area (Navigation Tab #4).

%p 
  However, within a section, your recipes are laid out in a pre-set order: 
  %ul
    %li first come the two-page recipes
    %li then come the one-page recipes
    %li then come the half-page recipes (which are combined automatically where possible so that there are two to a page) 
    %li and lastly – the extra pages

%p Within each of these sub-orders (all of the one-page recipes for example) the recipes are sorted alphabetically.

%p To ‘force’ a half page recipe to stay on its own page (and not be combined with other half page recipes) check the box at the bottom of the recipe edit page which says "Separate recipe." If you change your mind later and want it to combine with other half-page recipes, uncheck the same box.

%h3 Moving recipes from one section to another

%p Click on the name of the recipe (in the general recipe list) then click on the drop-down category menu and choose the category that you wish to put the recipe in.

%h3 Two-page entries

%p The recipe is on the right-hand page and a photo and/or text is on the left-hand page.

%h3 One page entries

%p 
  One page entries can be:
  %ul 
    %li a single text recipe on one page
    %li a recipe with photo on the same page (new feature!)
    %li two shorter recipes
    %li or an Extra Page (which can actually stretch to two or more pages if needed – see below).

%h3 Long recipes

%p 
  If you have a recipe that is too long to go on one page try using the Extra page function which works like a Word document. You can type as much as you like – pages and pages.
  %br
  If you add a picture it will come after the title and before the text.

%h3 Short recipes

%p The program will automatically put two shorter recipes per page OR you can use the Extra page function and type as many recipes as you like by grouping them under one heading. If you use the Extra page function you will need to format the recipes (list of ingredients, etc.) yourself.

%h3 A picture and recipe on the same page

%p There are two ways to do this. When entering a recipe, you can opt to add a photo. You will see an option for a that allows one recipe and a photo on a single page. This option will put the title at the top, then the photo on the right of the page, ingredients on the left, and instructions bellow that. This is ideal for medium length recipes and small photos. The other option is to use the Extra page function. With that, you can put a short recipe and a large picture on the same page. This option will place a larger photo under the title.

%h3 The extra page function

%p We have added the Extra page function so you can write as much as you like on a page the text will flow from one page to the next. It is sort of like working on a Word document.

%p You will find it in each section next to “Add a Recipe”.

%p This is very useful for long recipes or if you have a lengthy story to tell. You are not limited to one page. 

%p If you have a very long recipe you will need to enter ALL of that recipe using the Extra Page function – don’t put the first part on a regular recipe template and then start the second part using the Extra Page function as the two pages won’t follow each other.

%p Using the Extra page feature you can also put in a series of images by putting them one to a page (with or without an accompanying story underneath).

%p You can also put a picture and a recipe on the same page.

%p The Extra Pages that you create always come at the end of each section.

%h3 Adding the degree symbol

%p To add the degree symbol to your recipes you open up Word, then Insert, then Symbol and copy the degree symbol so that you can paste it into the recipe. Most people don’t bother with it though. :)

%h3 Adding an index

%p You can ask the program to do this if you check the Index box on the Design page.

%h3 Odd spacing in my recipe

%p Sometimes by accident you may have hit the ENTER key several times at the end of the ingredient list or your cooking instructions. The program will count these blank as actual lines in the recipe. This can cause the recipe to take up more space on a page than it appears to when you preview it causing a 1/2 page recipe to “fill” a whole page.

%h3 Creating columns

%p The program will create columns when you use Add a Recipe.

%p Unfortunately it isn’t possible to create your own columns in your recipes when using the Extra Page function, or have chosen the layout with a recipe and photo on a single page. 

%h3 Some blank pages

%p The order of the pages which cannot be modified:

%p Cover, inside of cover (blank), Title Page, back of Title Page (blank), Introduction/Dedication, Notes Pages, Table of Contents, back of Table of Contents (blank), Your First Divider, the contents of Book, a blank piece of paper (2 blanks sides), the inside of the Back Cover (blank), Back Cover.

%p You may have a blank page at the end of a section opposite the next divider. This is so the dividers always fall on the right-hand side of the book.

%h3 The title page

%p The Title Page is a simplified version of your cover. It can only be modified/customized if you choose to Make Your Own Design.

%h3 Special bindings & why I love spiral bindings

%p Three ring binders take longer to make than the regular binding and cost from $8 – $12 more per book. People usually think they will add recipes to a binder later, but it’s very difficult to match the paper stock, font and spacing of the holes, so those pieces of paper often end up looking strange! 

%p The advantage to the spiral binding and the wire binding is that they lie FLAT while a hardcover book doesn’t, so I recommend a spiral bound book. They are sturdy and they are just easier to use in a kitchen. Hard and softcovers are ideal for cookbooks that are more family keepsakes and that will be used in the kitchen with a cookbook holder.  

%p If you want something custom though, email me and we will get a custom quote for you!

%h3 Pictures

%p If you don’t check the "grayscale" box when adding a picture to the inside of the book, the program will count the picture as color even if it is a black-and-white photo.

%p 
  %strong HINT: If you have a great vertical picture that you want to be a full-page, do not write anything underneath it and it will take up the whole page (which looks very nice). If you put anything under it the image will be bumped to a half a page.

%p
  %strong 
    ANOTHER HINT: On the PDF preview, we display a black box around the images you upload on the cover and dividers of your cookbook. The box is meant as a guide to how big the picture could be – it won’t be on the printed version.
    %br
    Neither the word Preview nor the black-photo guide boxes will appear on your printed book. Otherwise the book will look just the way it does here.

%p Be careful of the definition of your pictures. Your pictures must be between 200-400 dpi (dots per inch), otherwise they may appear blurry when printed. If your picture is a small one to be blown up or if you have text in the image it should be between 400-600 dpi.

%p The way to check your pictures is to open the preview and enlarge the file to 100%. If your pictures are blurry or patchy their resolution is too low.

%p Remember that pictures will print darker than they appear on your computer screen as it is back lit.

%p Do not take pictures straight from the internet as they are very low resolution and will break apart when printed.

%p As you are working on your book, the system makes two files of your cookbook: 1. a low-resolution file that loads quickly with the word PREVIEW on it (plus some guideline boxes around pictures in some of the design options) and 2. a high-resolution file that is sent to the printer after you place your order.

%h3 How Do I put Photos in My Cookbook?

%p How do I get my photos out of the box in my closet into the cookbook? 

%p 
  Basically there are three ways of solving this – all of them are very easy:
  %ol
    %li 
      You take the pictures to your local photo development studio and ask them to scan the photos as jpg files. Please ask that all photos be scanned at 300-400 dpi (this means “dots per inch” – don’t worry – they know what this means).
      %br
      A lower number will result in blurry photos once printed. They put them onto a disc for you.
    %li You own a scanner and you scan the pictures onto your computer. Remember 300-400 dpi. For scanning tips – see below.

%h3 Scanning Tips

%ol
  %li If your images have A LOT OF WHITE SPACE around them and are very small. You need to rescan your photos and make sure that there is no white space around the picture itself. To do this you must draw the outlines of your scanner right up to the edges of your picture before you scan it (cropping).
  %li 
    If you need more help scanning your images there is a wonderful website by Wayne Fulton, which will answer all your questions about scanning. You will find his site at 
    = link_to "www.scantips.com", "http://www.scantips.com"

%h3 Scanning from a newspaper

%p 
  Some of you wonder why scans of newspaper photos turn out looking far worse than the original. cj Madigan of Shoebox Scanning & Design in Vero Beach, FL 
  = link_to "(www.shoeboxscanning.biz)" , "http://www.shoeboxscanning.biz"
  offers this explanation:

%p The problem with scanning from newspapers or magazines is referred to as screening or sometimes moiré. If you look at the newspaper photograph under a magnifying glass, you’ll see that it’s actually a series of dots in various sizes. The scanning process—which itself creates a series of dots or squares—often exacerbates that problem, creating wavy lines in the scanned image.

%p The solution is referred to as “descreening” and it’s a feature of scanning software. For Epson scanners, the descreening option is available under professional mode. It offers a choice of general, newspaper, magazine, and fine art. General often works but if you don’t like the results—zoom in very close on the scanned image to see the results—try another setting.

%p Sometimes the feature is referred to as “magazine” or “printed material” If its not available within the software that came with your scanner, you can use another program such as SilverFast. Or you can take your clipping to a local digital imaging specialist to have it scanned.

%h3 To add photos stored on your computer

%p Click on the BROWSE button on the recipe page. This will open a window showing all the files on your computer.

%p Choose the file where your photos are stored by going to the drop down menu at the top (where you see the words “My Computer”).

%p Find the file where your photos are stored on your computer. Click on that file.

%p Find the photo you are looking for in that file – click on it.

%p Now click OPEN on the window.

%p The window will close automatically.

%p You will now see that the name of the file has been transferred to the little box beside the word BROWSE on the cookbook template.

%p To load your photo click SUBMIT at the bottom of the recipe page.

%p Your upload might take a few moments – no need to do anything but wait.

%p The time it takes to load depends on the speed of your internet connection. When you have a high-speed connection, the process is very, very fast. When you have a dial up connection it can take a little while.

%p If you decide you would like a different photo better, you may change the existing one at any time by repeating the same process and uploading a new photo.

%h3 To add photos from our library to your recipes

%p Click on the SELECT button and you will be taken to our library of designs and old photos. There are lots and lots of ideas to choose from.

%h3 Some Photo Selection Tips

%p To achieve the best print quality in your cookbbook, consider these tips when choosing which photos to use.

%p Don’t trust your monitor’s colors. Every monitor displays colors slightly differently, and none is truly accurate.

%p Don’t trust your monitor’s resolution. The resolution of a printing press (the amount of detail it can reproduce) is much higher than a monitor’s, and may reveal a lack of detail in a picture that looked fine on-screen.

%p If your digital photo software lets you check it, strive for a resolution around 300-400 dpi (“dots per inch”).Less may look fuzzy or blocky when printed; more will only make the file larger and slower to send.

%p
  %strong Pictures seen on your monitor look brighter than they will look when printed as your monitor back lights them so be sure that your pictures are well contrasted, crisp and bright. If your pictures are a bit fuzzy and faded they will appear more so when printed.

%p Not too dark, not too light.

%p Avoid enlarging. Enlarging a picture reduces its effective resolution. For example, a picture blown up 300% prints with the quality of a picture at one-third the resolution. Small changes in size are fine, but large changes may affect the quality. If you want to use a very small picture you must scan it at a much higher resolution – 600-800 dpi.

%p Watch for patterns. If you’ve ever seen a herringbone jacket “squiggle” on TV, you’ve seen what’s called a “moiré pattern.” It happens (sometimes) when a finely-detailed geometric design is reproduced using dots, such as on a TV screen or a printer.

%p —Courtesy of Gord Jeoffroy, Hume Imaging Inc., Toronto

%h3 How to photograph food

%p 
  Try these tips for making food photography a snap:
  %ol
    %li Arrange food on plate in a manner that showcases the strengths of a dish and its high-value ingredients. Keep items bigger- small things tend to get lost!
    %li Garnish the dish to enhance the color. Adding chopped parsley gives spaghetti green specks that bring out the red color of the sauce. Adding a lemon wedge to a glass of iced tea takes a drab glass of brown liquid and gives it some juice. Or, consider ladling a sauce on the plate underneath the food, or over the items on the plate.
    %li Place the food on a dish which will enhance the food’s color. Obviously, placing a green salad on a green plate will create an amorphous lump in a photograph. Consider a yellow dish to bring out the green of spinach leaves, or a red dish to bring out the green of the lighter romaine leaves.
    %li Place your dish in a setting which will enhance the dish’s overall appearance. Place the dish on a flat-colored background, such as a one color table cloth or table surface. If taking a picture from a side-angle, make sure the picture’s background will not distort the food in the foreground.
    %li Use as much natural light as possible. A camera flash will actually distort food pictures more often than it will enhance them. Try moving your dish into a well-lit area and have a portable lamp close at hand to prop above the dish. 
    %li It’s always nicer to light food from behind, so it looks more three dimensional. Avoid blaring light in the back though- just some nice back-fill.
    %li Stabilize your camera. Use a tripod, or prop your camera on a high-back chair to help reduce the photo’s blurriness.
    %li Carefully choose the best angle for taking the picture. Examine the shape and features of your dish, to determine whether it looks best from overhead or from a side angle. Often, taking straight on shots of a dish doesn’t highlight the dish’s more appealing features, unless it’s a really tall dish! Try a more modern approach, and shoot the food from straight overhead! This is a great way to make a great shot, even if your food styling is not quite pro! Choose nice tablecloths or linens, and interesting shaped dishes. Avoid tall objects.
    %li Most importantly, zoom in so the dish fills as much of the picture as possible.
    %li 
      Check out what the professionals did for a similar dish, and see if you can duplicate the results! 
      %br
      = link_to "www.fabfoodpix.com", "http://www.fabfoodpix.com" 
      %br
      = link_to "www.food-image.com", "http://www.food-image.com"
      %br
      Thank you to: 
      = link_to "foodgeeks.com", "http://foodgeeks.com/about"
    %li Take a look at our pinterest page to see lots of great food photography!

%h3 Contributors

%p There is no limit to the number of people you can invite to help you.

%p 
  If someone does not receive the invitation it is because their email filter blocked the invitation. You can resend an invitation to them but they will need to add 
  = mail_to CONTACT_EMAIL 
  to their email safe list or address book or the email will not get through.

%p 
  HELPFUL CONTRIBUTOR HINTS:
  %ol
    %li Make sure that you let everyone know what abbreviations you want to use. For example, do you want to use: tsp. or Tsp. or Tsp or tsp?? All are correct but whatever you choose should be standardized in your book.
    %li If you wish to block the access to your cookbook by the contributors during your editing period, you need to click on the red X to the right of their name to remove them from the contributor list.

%h3 Creating a PDF file

%p 
  In case you and Susan have discussed the need for this – PDF’s can be created for free at 
  = link_to "www.pdfonline.com", "http://www.pdfonline.com"
  or at 
  = link_to "createpdf.adobe.com", "https://createpdf.adobe.com"

%h3 Backgrounds for collages

%p 
  The internet certainly is an interesting place – I met a young lady who has started a scrapbooking site with free downloadable (is that a word?) paper – just thought I would mention it if anyone wanted to make a collage with an interesting background. 
  = link_to "www.scrapbook-papers-and-more.com", "http://www.scrapbook-papers-and-more.com"

%h3 ISBN

%p 
  If you are thinking of selling your book commercially, information on obtaining an ISBN (International Standard Book Number) number can be found at 
  = link_to "bowker.com/index.php/supportfaq-isbn", "http://bowker.com/index.php/supportfaq-isbn"

%p 
  Information on the purpose of ISBN’s can be found at 
  = link_to "www.isbn.org", "http://www.isbn.org"