- content_for :page_title, "Forgot your password?"
- content_for :headline, "Forgot your password?"

%h3 Request a new password

= errors_for @user if @user.errors.any?

= form_for @user, url: new_password_path do |f|
  .control-group
    = f.label :email, "Email Address"
    = f.text_field :email
  .control-group
    .align-on-labels
    = f.submit "Request a new password", class: "orange"
  .control-group
    .align-on-labels
    = link_to "Cancel", root_path, class: "button blue"
